body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.first-div-img{
    
    background-image: url();
} 
header {
    background-color: #100b22;
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    top: 30px;
    
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    
}

.logo img {
    width: 80px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f00;
}

.purchase a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.purchase a:hover {
    background-color: #fff;
    color: #222;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f2f2f2;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .hero-content .read-more {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .hero-image {
    flex: 1;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
  }